/*body {
  background-color: lightgoldenrodyellow;
}

main {
  background-color: darkseagreen;
}

article {
  background-color: darkorchid;
}
.stream {
  background-color: aquamarine;
  padding: 20px;
}*/

/* Begin standard selectors */
body {
  padding-top: 3em;
}
