.navbar-brand,
.spa-shell-title {
  font-family: 'Fredoka One', cursive;
  color: #777;
}
.spa-shell-title {
  font-size: .85em;
}

.navbar-brand {
  font-weight: 400;
  font-size: 2.5em;
}

.spa-shell h2 {
  float: left;
}

.spa-shell-stream {
  clear: both;
}

.spa-shell-stream-tweet-user {
  float: left;
}

.spa-shell-stream-tweet-timestamp {
  float: right;
}

#spa-shell-stream-tweet-message {
  clear: both;
}

.spa-shell-writeTweet {
  float: right;
  margin-top: 20px;
  margin-bottom: 10px;
}

.spa-shell-newTweet {
  clear: both;
  display: none;
}

.spa-shell-newTweet .well {
  position: relative;
}

.spa-shell-newTweet .close {
  position: absolute;
  top: 2px;
  right: 8px;
}

.spa-shell-newTweet-user,
.spa-shell-stream a  {
  color: #23B5E4;
}

.dropdown-menu {
  padding: 1em;
  width: 15em;
}

#login-submit {
  margin-top: 0.5em;
}

#logout {
  display: none;
}
