.navbar-brand {
  font-family: 'Fredoka One', cursive;
  font-weight: 400;
  font-size: 2.5em;
}

.spa-shell h2 {
  float: left;
}

.spa-shell-stream {
  clear: both;
}

.spa-shell-stream-tweet-user {
  float: left;
}

.spa-shell-stream-tweet-timestamp {
  float: right;
}

#spa-shell-stream-tweet-message {
  clear: both;
}

.spa-shell-writeTweet {
  float: right;
  margin-top: 20px;
  margin-bottom: 10px;
}

.spa-shell-newTweet {
  clear: both;
  display: none;
}

.spa-shell-newTweet .well {
  position: relative;
}

.spa-shell-newTweet .close {
  position: absolute;
  top: 2px;
  right: 8px;
}

.spa-shell-newTweet {
  color: #23B5E4;
}
