body {
  background-color: lightgoldenrodyellow;
}

main {
  background-color: darkseagreen; 
}

.stream {
  background-color: aquamarine;
  padding: 20px;
}

.user {
  float: left;
}

.timestamp {
  float: right;
}

.message {
  clear: both;
}
